doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/pug.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      //- header/navbar
      header.top
        nav.nav
          .nav__section.nav__section--pages 
            li.nav__item
              a.nav__link.nav__link--logo(href="/")
                != h.icon('pug')
          each item in h.menu
            li.nav__item 
              a.nav__link.nav__link--logo(href=item.slug, class=currentPath.startsWith(item.slug) ? 'nav__link--active' : '')
                i(class=`fa fa-${item.fa}` aria-hidden="true")
                span #{item.title}
    
    block messages 
      //- flash messages go here
    
    .content 
      block content 
        //- main content
        h2 default content
    
    footer 
      block footer 
        //- footer
        p Quaker Maps &copy; #{h.moment().format('YYYY')} Micah Bales
        
    block scripts
      //- bundled scripts from webpack
      script(src="/dist/App.bundle.js")
      //- font awesome via CDN
      script(src="https://use.fontawesome.com/1fc94b8980.js")
