extends layout

block content
  h1.map-title= title
  form.map-search
      label Yearly Meeting
      select(name='yearlymeeting')
        each yearlymeeting in formFields.yearlymeetings
          option(value=`${yearlymeeting}`) #{yearlymeeting}
      label State/Province
      select(name='state')
        each state in formFields.states
          option(value=`${state}`) #{state}
      label Worship Style
      select(name='worshipstyle')
        each worshipstyle in formFields.worshipstyles
          option(value=`${worshipstyle}`) #{worshipstyle}
      label Branch
      select(name='branch')
        each branch in formFields.branches
          option(value=`${branch}`) #{branch}
  .map
    .main-map
      #map 
